body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
    color: white;
}

#name {
    font-size: 5rem;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        color: #ffcc00;
    }
    25% {
        color: #ff6699;
    }
    50% {
        color: #66ccff;
    }
    75% {
        color: #66ff66;
    }
    100% {
        transform: rotate(360deg);
        color: #ffcc00;
    }
}
